body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #E8F5E9;
}

header {

    background-color: #4CAF50;
    color: black;
    text-align: center;
    padding: 1rem 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #A5D6A7;
}

main {
    padding: 2rem;
}

.contact-content {
    max-width: auto;
    margin: 0 auto;
    background-color: white; 
    text-align: center;
}

.contact-content a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-content a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
